body{
    background: rgb(150, 126, 130);
}

.content{
    text-transform: capitalize;
    font-size: 16px;
    font-family: cursive;
}

.content input[type=button]{
  background-color: rgb(44, 166, 154);
  border: none;
  border-radius: 5px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 8px;
  cursor: pointer
}